html, body{
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

// Styled scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #827dff;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5caefe;
    &:hover{
        background: darken($primary-color, 15);
    }
}

// Drop autofill
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $black;
}

%bg_parts{
    content: '';
    position: absolute;
    top: 0;
    width: 12vw;
    max-width: 204px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -1;
}

.wrap {
    overflow: hidden;
    min-width: 320px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
}

.section{
    min-height: 100vh;
    padding: 110px 12vw;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @include breakpoint(medium down){
        padding-left: 7vw;
        padding-right: 7vw;
    }
    @include breakpoint(small down){
        padding-top: 130px;
        padding-bottom: 5vh;
    }
    &--hero{
        &::before{
            @extend %bg_parts;
            left: 0;
            background-image: url(/assets/img/bg_hero_left@2x.png);
            background-position: top left;
        }
        &::after{
            @extend %bg_parts;
            right: 0;
            background-image: url(/assets/img/bg_hero_right@2x.png);
            background-position: top right;
            background-size: contain;
        }
    }
    &--how{
        &::before{
            @extend %bg_parts;
            left: 0;
            top: 5%;
            background-image: url(/assets/img/bg_how_left@2x.png);
            background-position: bottom left;
            background-size: contain;
            height: 95%;
            max-width: 184px;
        }
        &::after{
            @extend %bg_parts;
            right: 0;
            top: 10%;
            background-image: url(/assets/img/bg_how_right@2x.png);
            background-position: top right;
            height: 90%;
        }
    }
}

.grid-container{
    width: 100%;
}

.lead{
    @include breakpoint(medium down){
        font-size: 20px;
    }
    @include breakpoint(small down){
        font-size: 18px;
    }
}

a{
    transition: 200ms;
}

// .js-off-canvas-overlay{
//     -webkit-tap-highlight-color: transparent;
// }