button {
    outline: none;
    cursor: pointer;
}

.button{
    font-weight: 700;
    border: 0;
    &.hollow{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background-image: linear-gradient(42deg, #21d4fd 0%, #b721ff 100%);
            background-size: 100%;
            border-radius: $global-radius;
            transition: 400ms 0ms ease-in-out;
            z-index: -2;
        }
        &::after{
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            box-shadow: inset 0 0 100px 25px $white;
            border-radius: $global-radius;
            z-index: -1;
            transition: 400ms ease-in-out;
        }
        &:hover{
            color: $white;
            &::before{
                opacity: 1;
                // background-size: 160%;
                // transition-delay: 200ms;
            }
            &::after{
                box-shadow: inset 0 0 0 0 $white;
            }
        }
    }
    &.clear{
        background-image: linear-gradient(42deg, #21d4fd 0%, #b721ff 100%);
        background-size: cover;
        background-clip: text;
        &:hover{
            color: transparent;
        }
    }
    &.primary{
        background-image: linear-gradient(42deg, #21d4fd 0%, #b721ff 100%);
        background-size: 100%;
        &:hover{
            background-size: 180%;
        }
    }
}