.form{
    margin-top: 63px;
    &_inner{
        width: 100%;
        display: flex;
        max-width: 460px;
    }
    &_header{
        margin-bottom: 18px;
    }
    &_input{
        position: relative;
        width: 220px;
        &:first-child{
            padding: 1px;
            height: 50px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            background-image: linear-gradient(42deg, #21d4fd 0%, #b721ff 100%);
            background-size: 100%;
            border-radius: $global-radius + 1;
            transition: 400ms 0ms ease-in-out;
            z-index: -2;
        }
        + .form_input{
            margin-left: 20px;
        }
        &.is_focused{
            &::before{
                opacity: 0.3;
            }   
        }
    }
    button{
        width: 100%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 10px;
            left: 10px;
            width: calc(100% - 20px);
            height: 100%;
            border-radius: 25px;
            background-image: linear-gradient(42deg, #21d4fd 0%, #b721ff 100%);
            opacity: 0.3;
            filter: blur(10px);
            z-index: -1;
        }
    }
}