header.header
    .grid-container.header_inner
        .header_logo
            img(src="/assets/img/logo.svg", alt="Cally")
        .header_right
            a.button.clear(href="#")
                | Вход
            a.button.hollow(href="#")
                | Регистрация