form.form
    h3.form_header
        | Узнать первым о запуске
    .form_inner
        .form_input
            input(type="email" placeholder="Ваш email…" required)
        .form_input
            button.button.primary(type="submit")
                | Подписаться
