extends ../_layout

block const
    - const page = 'hero'

block content
    section.hero
        h1
            | Cally — личный помощник
            br
            | в планировании встреч
        p.lead
            | Подключите Cally к своему календарю, делитесь персональной
            br
            | ссылкой чтобы люди бронировали встречи с вами
        include ../components/_form